/* CSS GERAL */

.color {
    background-color: #7683FC;
    font-family: Trebuchet MS, sans-serif;
}

/* CSS INDEX(CADASTRO) */

.pad{
    padding-top: 5em;
}

.tabela {
    padding: 2em;
    background-color: white;
    border-radius: 18px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.73);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.73);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.73);
    margin: auto;
}

.btn {
    background-color: #2C41FF;
    color: white;
}

.btn:hover {
    background-color: #7683FC;
    color: white;
}

.link {
    text-decoration: none;
    font-weight: bold;
    color: #2C41FF;
}

.link:hover {
    color: #7683FC;
}

/* CSS PAINEL */

header{
    background-color: white;
}

.position {
    position: fixed;
    right: 17.3%;
    top: 76.5%;
    padding: 2em 15em 2em 15em;
}

.card {
    background-color: white;
    margin: 1em;
}

.coment_coment{
    background-color: aliceblue;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.73);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.73);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.73);
    border-radius: 5px;
    padding-left: 12px;
    padding: 0.5em 0.5em 0.5em 12px;
    margin: 0;
}

.coment_nome{
    padding: 0.5em 1.3em 0.5em 1.3em;
    text-transform: capitalize;
    margin: 0;
}

.coment_data{
    margin: 0;
    padding: 0em 0.5em 0.5em 0;
}

.comentarios {
    margin-bottom: 15em;
}

.tabela_coment {
    padding: 1em;
    background-color: white;
    border-radius: 18px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.73);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.73);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.73);
    margin: auto;
}